
body {
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 0;
    background: #0b0b0b;
    color: #f5f5f5;
    line-height: 1.6;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    padding: 18px 50px;
    border-bottom: 1px solid #222;
}

.logo {
    font-size: 20px;
    font-weight: 700;
    color: white; 
    letter-spacing: 1px;
}


.dev-box {
    background: #ff6a00;
    color: black;
    padding: 3px 9px;
    margin-left: 4px;
    border-radius: 5px;
    font-weight: 700;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: #f5f5f5;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ff6a00;
}


.hero {
    text-align: center;
    padding: 90px 20px;
    background: #0b0b0b;
}

.hero-photo {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 3px solid #ff6a00;
    object-fit: cover;
    margin-bottom: 20px;
}

.name-highlight {
    color: #ff6a00;
    font-weight: 700;
}

.subtitle {
    font-size: 18px;
    color: #bbbbbb;
    margin-top: 8px;
}


.hero-buttons {
    margin-top: 30px;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    margin: 10px;
    border-radius: 6px;
    background: #ff6a00;
    color: #000;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: white;
    color: black;
    transform: translateY(-3px);
}

.secondary {
    background: transparent;
    border: 2px solid #ff6a00;
    color: #ff6a00;
}

.secondary:hover {
    background: #ff6a00;
    color: black;
}


.container {
    width: 85%;
    max-width: 900px;
    margin: auto;
}

.section {
    margin-top: 50px;
    padding: 35px;
    border-radius: 10px;
    background: #141414;
    border: 1px solid #222;
}

.section h2 {
    color: #ff6a00;
    margin-bottom: 15px;
    font-size: 24px;
    letter-spacing: 0.5px;
}


.skills-list li {
    margin: 10px 0;
    color: #dddddd;
}


.project {
    background: #101010;
    border: 1px solid #222;
    padding: 18px;
    margin-top: 18px;
    border-radius: 8px;
    transition: 0.3s;
}

.project h3 {
    color: #ffffff;
}

.project p {
    color: #bbbbbb;
}

.project:hover {
    border-color: #ff6a00;
    transform: translateY(-4px);
}


.footer {
    text-align: center;
    margin-top: 70px;
    padding: 45px;
    background: #111;
    border-top: 1px solid #222;
}

.email-link,
.phone-link {
    display: block;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #ff6a00;
    text-decoration: none;
}

.email-link:hover,
.phone-link:hover {
    color: white;
    text-decoration: underline;
}

.footer-note {
    margin-top: 25px;
    font-size: 13px;
    color: #777;
}
